@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;800&display=swap');
body{
    background-color: #292c2f; 
}

.container_about{
    display: flex;

    
    
}
.leftpart{
    height: 100vh;
    width: 100%;
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    .information{
        
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        
        
        ul{  
            margin: 0;
            max-width: 70%;
            
    }
    
    
    }
}
.rightpart{
    
    
    height: 100vh;
    width: 100%;
   
    flex: 1;
    background-color: white;
    align-items: center;
    justify-content: center;
    
    
    position: relative;
    .images{
        height: 100%;
        width: 100%;
        
        background-image: linear-gradient(to top, #0091ff, #3e98ff, #59a0ff, #6da7ff, #7fafff, #8db6ff, #9abeff, #a7c5ff, #b4ceff, #c2d7ff, #cfdfff, #dce8ff);
        background-size: inherit;
        background-repeat: no-repeat;
    }
    
    
    
    .sun_div{
        position: absolute;
        width: 19%;
        bottom: 50%;
        left: 24%;
       
    
    .sun{
        width: 100%;
        bottom: 100%;
        left: 100%;
        animation: rotation 30s infinite linear;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }
         
         
    
    
    
    .colosseo{
        position: absolute;
        width: 60%;
        left: 14%;
        bottom: 0;
        
    }
    
}

@media all and (max-width:800px) //800px for tablets and phones.
{
    .container_about{
        display: block;

        }


    .rightpart
    {   
        
        height: 50vh;
        width: 100%;
        
    }
    .leftpart{
        height: 50vh;
        width: 100%;
        padding-top: 5%;
    }
}





